In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In D:\anaconda\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.frameon rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In D:\anaconda\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.level rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In D:\anaconda\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.fileo rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.

In [2]:
train = pd.read_excel('transactions table.xlsx')
train.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [3]:
train.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [4]:
train['online_order'].value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [5]:
train['online_order']=train['online_order'].fillna(method='ffill')

In [6]:
train['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [7]:
train['brand']=train['brand'].fillna(method='ffill')

In [8]:
train['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [9]:
train['product_line']=train['product_line'].fillna(method='bfill')

In [10]:
train['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [11]:
train['product_class']=train['product_class'].fillna(method='bfill')

In [12]:
train['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [13]:
train['product_size']=train['product_size'].fillna(method='ffill')

In [14]:
train['standard_cost'].mean()

556.0469512209421

In [15]:
train['standard_cost']=train['standard_cost'].fillna(train['standard_cost'].mean())

In [16]:
train['product_first_sold_date']=train['product_first_sold_date'].fillna(train['product_first_sold_date'].mean())

In [17]:
submission = pd.DataFrame({
        "transaction_id": train["transaction_id"],
        "product_id": train["product_id"],
        "customer_id": train["customer_id"],
        "transaction_date": train["transaction_date"],
        "online_order": train["online_order"],
        "order_status": train["order_status"],
        "brand": train["brand"],
        "product_line": train["product_line"],
        "product_class": train["product_class"],
        "product_size": train["product_size"],
        "list_price": train["list_price"],
        "standard_cost": train["standard_cost"],
        "product_first_sold_date": train["product_first_sold_date"]
    })
submission.to_csv('./submission.csv', index=False)
print(submission.head(10))

   transaction_id  product_id  customer_id transaction_date  online_order  \
0               1           2         2950       2017-02-25           0.0
1               2           3         3120       2017-05-21           1.0
2               3          37          402       2017-10-16           0.0
3               4          88         3135       2017-08-31           0.0
4               5          78          787       2017-10-01           1.0
5               6          25         2339       2017-03-08           1.0
6               7          22         1542       2017-04-21           1.0
7               8          15         2459       2017-07-15           0.0
8               9          67         1305       2017-08-10           0.0
9              10          12         3262       2017-08-30           1.0

  order_status           brand product_line product_class product_size  \
0     Approved           Solex     Standard        medium       medium
1     Approved   Trek Bicycles     Standard        medium        large
2     Approved      OHM Cycles     Standard           low       medium
3     Approved  Norco Bicycles     Standard        medium       medium
4     Approved  Giant Bicycles     Standard        medium        large
5     Approved  Giant Bicycles         Road        medium       medium
6     Approved        WeareA2B     Standard        medium       medium
7     Approved        WeareA2B     Standard        medium       medium
8     Approved           Solex     Standard        medium        large
9     Approved        WeareA2B     Standard        medium       medium

   list_price  standard_cost  product_first_sold_date
0       71.49          53.62                  41245.0
1     2091.47         388.92                  41701.0
2     1793.43         248.82                  36361.0
3     1198.46         381.10                  36145.0
4     1765.30         709.48                  42226.0
5     1538.99         829.65                  39031.0
6       60.34          45.26                  34165.0
7     1292.84          13.44                  39915.0
8     1071.23         380.74                  33455.0
9     1231.15         161.60                  38216.0